@import "../../static/css/abstracts/mixins";
@import "../../static/css/abstracts/variables";

.com-icon{
    position: relative;
    top: 3px;
    
    &.--s {
        font-size:px(24);
        margin: 0 $spacing-xs;
    }
}