@import "../../static/css/abstracts/variables";

.mod-product-card {
    display: flex;
    flex-direction: column;
    .product-image {
        img {
            width:100%;
        }
    }
    .product-info {
        display: flex;
        flex-direction: column;
    }
}

/* Separar en componente */
