//tamaños tipográficos
@import "variables";
@import "mixins";

[class~="6xs"] {
  @include text-size(11, 16);
}

[class~="5xs"] {
  @include text-size(12, 16);
}

[class~="4xs"] {
  @include text-size(14, 16);
}

[class~="3xs"] {
  @include text-size(15, 17);
}

[class~="2xs"] {
  @include text-size(16, 24);
}

[class~="xs"] {
  @include text-size(18, 26);
}

[class~="s"] {
  @include text-size(19, 30);
}

[class~="m"] {
  @include text-size(16, 28);
}

[class~="l"] {
  @include text-size(19, 23);
}

[class~="xl"] {
  @include text-size(32, 40);
}

[class~="2xl"] {
  @include text-size(40, 52);
}

[class~="3xl"] {
  @include text-size(48, 56);
}


// font weights
.--extra-light {
  font-weight: 200;
}

.--light {
  font-weight: 300;
}

.--regular {
  font-weight: 400;
}

.--semi-bold {
  font-weight: 600;
}

.--bold {
  font-weight: 700;
}

.--extra-bold {
  font-weight: 800;
}

.--black {
  font-weight: 900;
}

//aligns

.--just-end {
  display: flex;
  justify-content: flex-end;
}