//=======================================
// Pixel
//=======================================
$em: 0.0625em; //1px
$rem: 0.0625rem; //1px

@function px($base) {
    $result: $rem * $base;
    @return $result;
}

//=======================================
// Columnas
//=======================================
$cant-col: 12; //Cantidad de columnas
$col-width: 100 / $cant-col; //Ancho de columnas
$scroll-width: px(17);

//=======================================
// Fonts
//=======================================
$font-nunito: 'Nunito Sans';

//=======================================
// Media Queries
//=======================================
$media-xs: 'min-width : 20em'; // 320px
$media-s: 'min-width : 22em'; // 360px
$media-m: 'min-width: 48em'; // 768px
$media-l: 'min-width: 64em'; // 1024px
$media-lm: 'min-width: 68.75em'; // 1100px
$media-lg: 'min-width: 80em'; // 1280px
$media-xl: 'min-width: 83.75em'; // 1340px


//=======================================
// Aspect ratio
//=======================================
$picture: calc((2 / 3) * 100%);
$square: calc((3 / 4) * 100%);
$video: calc((9 / 16) * 100%);
$cinema: calc((9 / 21) * 100%);
$vertical-square: calc((13 / 12.19) * 100%);
$vertical-video: calc((13 / 8.19) * 100%);


//=======================================
// Espaciados
//=======================================
$spacing: $rem * 8;
$spacing-2xs: $spacing / 2; //4px
$spacing-xs: $spacing * 1; //8px
$spacing-sm: $spacing * 2; //16px
$spacing-md: $spacing * 3; //24px
$spacing-lg: $spacing * 4; //32px
$spacing-xl: $spacing * 5; //40px
$spacing-2xl: $spacing * 8; //64px
$spacing-3xl: $spacing * 10; //80px


//=======================================
// Colores
//=======================================
$light-blue-100: #E8F5FF;
$light-blue-200: #BEE4FF;
$light-blue-300: #41B1FF;
$light-blue-400: #008DFF;
$light-blue-500: #0074C4;
$light-blue-600: #006998;
$light-blue-700: #00547A;
$light-blue-800: #003F5B;
$light-blue-900: #002A3D;

$neutral-white: #FFFFFF;
$light-neutral-50: #FEFEFE;
$light-neutral-100: #F7F7F4;
$light-neutral-200: #F2F2F2;
$light-neutral-300: #E4E4E4;
$light-neutral-400: #CCCCCC;
$light-neutral-500: #919191;
$light-neutral-600: #5A5A5A;
$light-neutral-700: #333333;
$light-neutral-800: #272727;
$light-neutral-900: #1C1C1F;
$neutral-black: #000000;

$yellow-100: #FFFFE5;
$yellow-200: #FFFFB8;
$yellow-300: #FFFF86;
$yellow-400: #FFFF76;
$yellow-500: #FFFF24;
$yellow-600: #F9F900;
$yellow-700: #CCCC0B;
$yellow-800: #999900;
$yellow-900: #555500;

$orange-100: #FFF5DF;
$orange-200: #FFE8C0;
$orange-300: #FFC968;
$orange-400: #FCB73C;
$orange-500: #EF9B30;
$orange-600: #D46418;
$orange-700: #C6480C;
$orange-800: #893006;
$orange-900: #4C1800;

$red-100: #FFECEB;
$red-200: #FFC3BE;
$red-300: #FA837A;
$red-400: #F44336;
$red-500: #E2342D;
$red-600: #C61C1E;
$red-700: #B40D15;
$red-800: #6C0801;
$red-900: #4A0500;

$pink-100: #F7D2DB;
$pink-200: #F7D2DB;
$pink-300: #F7D2DB;
$pink-400: #F7D2DB;
$pink-500: #E61F63;
$pink-600: #BE1A52;
$pink-700: #981542;
$pink-800: #731032;
$pink-900: #731032;

$violet-100: #EAEBFF;
$violet-200: #C5C6FF;
$violet-300: #7B7EFF;
$violet-400: #5659FF;
$violet-500: #1417CF;
$violet-600: #0003A6;
$violet-700: #00027D;
$violet-800: #000254;
$violet-900: #00043A;

$teal-100: #ECFFFF;
$teal-200: #C1FFFF;
$teal-300: #80F9F9;
$teal-400: #3FF3F3;
$teal-500: #28D1D1;
$teal-600: #15AFAF;
$teal-700: #0C8485;
$teal-800: #006B6B;
$teal-900: #004949;

$green-100: #F3FBF0;
$green-200: #E1F6D7;
$green-300: #C0E8BA;
$green-400: #98DA93;
$green-500: #71CD6D;
$green-600: #49BF46;
$green-700: #22B120;
$green-800: #22B120;
$green-900: #036002;



//=======================================
// Colores Dark Mode
//=======================================
$dark-blue-100: #D5FFFF;
$dark-blue-200: #D5FFFF;
$dark-blue-300: #B7E9FF;
$dark-blue-400: #70D3FF;
$dark-blue-500: #22B8FF;

$dark-neutral-50: #1C1C1F;
$dark-neutral-100: #272727;
$dark-neutral-200: #333333;
$dark-neutral-300: #5A5A5A;
$dark-neutral-400: #919191;
$dark-neutral-500: #ADADAD;
$dark-neutral-600: #CCCCCC;
$dark-neutral-700: #E4E4E4;
$dark-neutral-800: #F2F2F2;
$dark-neutral-900: #FFFFFF;


//=======================================
// Box Shadows
//=======================================
$shadow-down-2xs: 0px 2px 4px rgba(0, 0, 0, 0.16);
$shadow-down-xs: 0px 4px 8px rgba(0, 0, 0, 0.08);
$shadow-down-sm: 0px 8px 16px rgba(0, 0, 0, 0.06);
$shadow-down-md: 0px 12px 24px rgba(0, 0, 0, 0.04);
$shadow-down-lg: 0px 16px 32px rgba(0, 0, 0, 0.03);

$shadow-up-2xs: 0px -2px 4px rgba(0, 0, 0, 0.16);
$shadow-up-xs: 0px -4px 8px rgba(0, 0, 0, 0.08);
$shadow-up-sm: 0px -8px 16px rgba(0, 0, 0, 0.06);
$shadow-up-md: 0px -12px 24px rgba(0, 0, 0, 0.04);
$shadow-up-lg: 0px -16px 32px rgba(0, 0, 0, 0.03);